.JFXButton {
    -fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
    -fx-font-size: 13;
}

.JFXButton:hover{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #ff9966 0%, #e0e0e0 61%);
    -fx-font-size: 13;
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.JFXButton:pressed{
    -fx-font-weight: bold;
    -fx-background-color: #C8C8C8;
    -fx-font-size: 12;
}

.JFXDatePicker .text-field{
    -jfx-unfocus-color: black;
    -fx-prompt-text-fill: black;
}

.jfx-check-box {
     -jfx-checked-color: orange;
     -jfx-unchecked-color: black;
}

/* Styling checkmark */
.jfx-check-box .mark{
     -fx-border-color: white;
}