.JFXButton {
    -fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
    -fx-font-size: 13;
}

.JFXButton:hover{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #ff9966 0%, #e0e0e0 61%);
    -fx-font-size: 13;
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.JFXButton:pressed{
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.JFXDatePicker .text-field{
    -jfx-unfocus-color: black;
    -fx-prompt-text-fill: black;
}

.JFXComboBox {
	-fx-prompt-text-fill: white;
}

.jfx-check-box {
     -jfx-checked-color: orange;
     -jfx-unchecked-color: black;
}

/* Styling checkmark */
.jfx-check-box .mark{
     -fx-border-color: white;
}

.back-button{
	-fx-background-image:url('../images/back.png');
	-fx-background-color: linear-gradient(to bottom right, #707070 0%, #ff9966 100%);
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 60%;
}

.back-button .text{
	-fx-opacity: 0%;
}

.back-button:hover{
	-fx-background-image:url('../images/back.png');
	-fx-background-color: linear-gradient(to bottom right, #707070 0%, #ff9966 100%);
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 68%;
  	-fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.botonConfig{
	-fx-background-image:url('../images/config.png');
	-fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 60%;
}

.botonConfig .text{
	-fx-opacity: 0%;
}

.botonConfig:hover{
	-fx-background-image:url('../images/config.png');
	-fx-background-size: 60%;
	-fx-scale-y: 0.98;
	-fx-scale-x: 0.98;
}

.botonLogout{
	-fx-background-image:url('../images/logout.png');
	-fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 60%;
}

.botonLogout .text{
	-fx-opacity: 0%;
}

.botonLogout:hover{
	-fx-background-image:url('../images/logout.png');
	-fx-background-size: 60%;
	-fx-scale-y: 0.98;
	-fx-scale-x: 0.98;
}

.botonPremium{
  -fx-background-image:url('../images/premium.png');
  -fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
  -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60%;
}

.botonPremium .text{
  -fx-opacity: 0%;
}

.botonPremium:hover{
  -fx-background-image:url('../images/premium.png');
  -fx-background-size: 60%;
  -fx-scale-y: 0.98;
  -fx-scale-x: 0.98;
}












