.button {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
    -fx-background-radius: 20;
    -fx-font-size: 12;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #ff9966 0%, #e0e0e0 61%);
    -fx-background-radius: 22;
    -fx-font-size: 12;
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;

}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: #C8C8C8;
    -fx-background-radius: 22;
    -fx-font-size: 12;
    -fx-scale-y: 0.98;
    -fx-scale-x: 1.02;

}