.anchor {
    -fx-background-image:url('../images/background8.jpg');
    -fx-background-size: 100% 100%;
}

.JFXTextField {
	-fx-text-inner-color: black;
	-fx-prompt-text-fill: black;
}

.VBox{
	-fx-background-color: rgba(216, 216, 216, 0.4);
}

.panelAtras {
	-fx-background-color: rgba(245, 245, 245, 0.2);

}

.list-view {
    -fx-background-color: rgba(88, 88, 88, 0.5);
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}







