.Fondo {
    -fx-background-image:url('../images/background6.jpg');
    -fx-background-size: 100% 100%;
}

.JFXTextField {
    -fx-text-inner-color: white;
    -fx-prompt-text-fill: rgb(255, 186, 102);
}

.JFXButton {
    -fx-background-color: linear-gradient(to bottom right, #ff9966 39%, #ffffcc 96%);
    -fx-font-size: 13;
}

.JFXButton:hover{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom right, #ff9966 0%, #e0e0e0 61%);
    -fx-font-size: 13;
}

.JFXButton:pressed{
    -fx-font-weight: bold;
    -fx-background-color: #C8C8C8;
    -fx-font-size: 12;
}

.BotonLista {
    -fx-font-size: 13;
    -fx-font-color: white;
}

.BotonLista:hover{
    -fx-background-color: rgba(216, 216, 216, 0.4);
    -fx-font-size: 13;
}

.botonProfile{
	-fx-background-image:url('../images/user.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

.botonProfile .text{
	-fx-opacity: 0%;
}

.botonProfile:hover{
	-fx-background-image:url('../images/user.png');
	-fx-scale-y: 0.96;
	-fx-scale-x: 0.96;
}

.botonConfig{
	-fx-background-image:url('../images/config.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

.botonConfig .text{
	-fx-opacity: 0%;
}

.botonConfig:hover{
	-fx-background-image:url('../images/config.png');
	-fx-scale-y: 0.96;
	-fx-scale-x: 0.96;
}

.botonAdd{
    -fx-background-image:url('../images/add.png');
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.botonAdd .text{
    -fx-opacity: 0%;
}

.botonAdd:hover{
    -fx-background-image:url('../images/add.png');
    -fx-scale-y: 0.96;
    -fx-scale-x: 0.96;
}

.botonAdd:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.botonBorrar{
    -fx-background-image:url('../images/borrar.jpg');
    -fx-background-size: 65%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.botonBorrar .text{
    -fx-opacity: 0%;
}

.botonBorrar:hover{
    -fx-background-image:url('../images/borrar.jpg');
    -fx-scale-y: 0.96;
    -fx-scale-x: 0.96;
}

.botonBorrar:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.VBox{
	-fx-background-color: rgba(216, 216, 216, 0.4);
}

.CajaListas{
	-fx-background-color: rgba(0, 0, 0, 0.3);
}

.scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

