.Fondo {
    -fx-background-image:url('../images/background2.jpg');
    -fx-background-size: 100% 100%;
}

.JFXTextField {
	-fx-text-inner-color: white;
	-fx-prompt-text-fill: gray;
}

.botonAtras{
	-fx-background-image:url('../images/back.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 60%;
}

.botonAtras .text{
	-fx-opacity: 0%;
}

.botonAtras:hover{
	-fx-background-image:url('../images/back.png');
	-fx-scale-y: 0.96;
	-fx-scale-x: 0.96;
	-fx-background-size: 60%;
}





